body {
  background-color: #000;
  color: #FFF;
}

h1 {
  color: #fff;
  font-family: 'Audiowide', Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  margin-top: 80px;
}

h2 {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #797979;
}

h3 {
  text-align: center;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #797979;
}

p {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 22px;
}

.section {
  height: 100vh;
}

.center {
  text-align: center;
}

a, a:hover, a:focus, a.button, a.button:hover, a.button:focus, button, button:hover, button:focus {
  font-family: 'Audiowide', Helvetica, sans-serif;
  text-transform: lowercase;
  font-size: 26px;
  color: #fff;
  text-decoration: none;
  border: none;
  outline: none;
}

button.primary-button {
  padding: 15px 50px;
  background-color: #FFF001;
  color: #000;
}







/* nav */

.nav {
  width: 100%;
  height: 60px;
  background-color: #141414;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

button.prev-button, button.prev-button:hover, button.prev-button:focus {
  position: fixed;
  left: 0;
  height: 60px;
  width: 200px;
  background-color: #212121;
  color: #fff;
}

button.next-button, button.next-button:hover, button.next-button:focus {
  position: fixed;
  right: 0;
  height: 60px;
  width: 200px;
  background-color: #FFF001;
  color: #000;
}

.dots {
  text-align: center;
  position: fixed;
  display: flex;
  margin-left: 46%;
  height: 60px;
  line-height: 60px;
  margin-top: 10px;
}

.dot {
  height: 22px;
  width: 22px;
  border-radius: 11px;
  margin: 10px;
  background-color: #343434;
  border: 4px solid #141414;
}






/* colors */

.yellow {
  color: #FFF001;
}

.yellow-bg {
  background-color: #FFF001;
}

.bright-blue {
  color: #31F3FF;
}

.bright-blue-bg {
  background-color: #31F3FF;
}

.light-blue {
  color: #2182E8;
}

.light-blue-bg {
  background-color: #2182E8;
}

.dark-blue {
  color: #3138FF;
}

.dark-blue-bg {
  background-color: #3138FF;
}

.purple {
  color: #7F2DE8;
}

.purple-bg {
  background-color: #7F2DE8;
}

.pink {
  color: #ED31FF;
}

.pink-bg {
  background-color: #ED31FF;
}

.dark-grey {
  color: #141414;
}

.dark-grey-bg {
  background-color: #141414;
}

.mid-grey {
  color: #212121;
}

.mid-grey-bg {
  background-color: #212121;
}

.light-grey {
  color: #343434;
}

.light-grey-bg {
  background-color: #343434;
}








/* sections */

#nav, #section-2, #section-3, #next-2, #next-3, #prev-2, #prev-3 {
  display: none;
}






/* container */

.container-1, .container-2 {
  height: 100vh;
}







/* container-1 */

.container-1 h1 {
  text-align: left;
  margin-bottom: 50px;
  margin-top: 30vh;
  font-size: 60px;
}

.container-1 .inner {
  position: absolute;
}

.start-inner {
  margin-top: 80px;
}

.myvideo-mask {
  overflow: hidden;
  height: 100vh;
}

video.myVideo {
  height: 100%;
  width: auto;
  opacity: 0.3;
  float: right;
  position: absolute;
}





/* container-2 */

.container-2 h1 {
  margin-bottom: 10px;
}

.container-2 p {
  text-align: center;
}

.instruction-icons {
  margin-top: 50px;
}

.input-data-inner {
  width: 250px;
  height: 250px;
  border-radius: 125px;
  background-color: #212121;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

.input-data-inner p {
  padding-top: 140px;
}

.input-data-border {
  border: 5px solid #212121;
  text-align: center;
  margin: auto;
  width: 320px;
  height: 320px;
  border-radius: 160px;
  animation: nudge-1 5s;
}

.view-inner {
  width: 290px;
  height: 290px;
  border-radius: 145px;
  background-color: #212121;
  text-align: center;
  margin: auto;
  margin-top: 7px;
}

.view-inner p {
  padding-top: 75px;
}

.view-border {
  border: 8px solid #212121;
  text-align: center;
  margin: auto;
  width: 320px;
  height: 320px;
  border-radius: 160px;
  animation: nudge-2 5s;
  animation-delay: 5s;
}

.print-inner {
  width: 190px;
  height: 190px;
  border-radius: 95px;
  background-color: #212121;
  margin: auto;
  margin-top: 62px;
}

.print-inner p {
  padding-top: 90px;
}

.print-border {
  border: 3px solid #212121;
  text-align: center;
  margin: auto;
  width: 320px;
  height: 320px;
  border-radius: 160px;
  animation: nudge-3 5s;
  animation-delay: 10s;
}

.begin-inner {
  margin-top: 300px;
}

.instruction-text {
  margin-top: 20px;
}

@keyframes colorful {
  0%, 100% {background-color: #343434;}
  50% {background-color: #3138FF;}
}

@keyframes stretch {
  0%, 100% {transform: scale(1);}
  50% {transform: scale(.9);}
}

@keyframes nudge-1 {
  0%, 100% {transform: translate(0, 0);}
  25% {transform: translate(10px, 0);}
  75% {transform: translate(-10px, 0);}
}
@keyframes nudge-2 {
  0%, 100% {transform: translate(0, 0);}
  25% {transform: translate(10px, 0);}
  75% {transform: translate(-10px, 0);}
}
@keyframes nudge-3 {
  0%, 100% {transform: translate(0, 0);}
  25% {transform: translate(10px, 0);}
  75% {transform: translate(-10px, 0);}
}








/* container-3 */

input, button {
	color: #000;
}

input {
  width: 100%;
  border-radius: 20px;
  height: 40px;
  border: none;
  background-color: #212121;
  color: #fff;
  font-family: 'Roboto';
}

input:focus {
  outline: none;
  background-color: #2B2B2B;
}

input.date {
  width: 45%;
  border-radius: 20px;
}
input::-webkit-calendar-picker-indicator{
    display: none;
}
input::-webkit-clear-button { /* Removes blue cross */
  -webkit-appearance: none;
  margin: 0;
}

input {
  padding-left: 15px;
}

.container-3.top {
  background-color: #141414;
  padding-bottom: 30px;
}

.container-3.bottom {
  margin-top: 30px;
  margin-bottom: 30px;
}

.card {
  background-color: #343434;
}

.card-items {

}

.card-text {
  width: 50%;
  padding: 20px;
  float: right;
}

.card-image img {
  width: 50%;
  float: left;
}

.card-text h3 {
  text-align: left;
}

.card h2 {
  margin: 0;
  color: #fff;
}

.card h2.title, .card h2.artist, .card h2.venue {
  margin-top: 10px;
}

.card h2.title {
  font-size: 22px;
}

.card h2.date {
  font-weight: 700;
}

.card h2.artist {
  font-weight: 500;
}

#selected {
  background-color: #ED31FF;
}

#selected button.card-button {
  background-color: transparent;
}

#selected.card img {
  opacity: 0.2;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

button.card-button, button.card-button:hover, button.card-button:focus {
  width: 100%;
  height: 60px;
  background-color: #3138FF;
  color: #fff;
}
