body {
  background-color: #000;
  color: #FFF;
}

h1 {
  color: #fff;
}
.section {
  height: 100vh;
}
.center {
  text-align: center;
}

.container-1, .container-2 {
  height: 100vh;
}

.container-1 h1 {
  margin: 0;
}

.container-1 .inner {
  text-align: center;
  padding-top: 40vh;
}

input, button {
	color: #000;
}